body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 16%;
    border-radius: 8px;
    padding-bottom: 20%;
}

.content {
    text-align: center;
    padding: 20px;
}

.input {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.hint-btn {
    margin-left: 10px;
    background-color: #28a745;
}

.hint-btn:hover {
    background-color: #218838;
}

.flash-messages {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.flash-messages li {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 10px;
}

.hint {
    margin-top: 20px;
}

.hint img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

