<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumos</title>
    <link rel="stylesheet" href="/static/css/side.css">
</head>
<body>
    <div class="sidebar-container">
        <ul class="sidenav">
            <li style="height: 5%; margin-top: 4%; margin-left: 50px; font-style: oblique; font-weight: bolder;">Your Points: {{ tpoints }}</li>
            <li style="border-top: 1px solid #bdbdbd;"><a href="/mhome">Home</a></li>
            <li><a href="/home">Expense & Savings Tracker</a></li>
            <li><a href="/chore_index">Chore Management</a></li>
            <li><a href="/games_home" class="active">Financial Edventure</a></li>
            <li><a href="/recomm_home">Recommended Investments</a></li>
            <li><a href="/bank" >Cashe, the Bank</a></li>
            <li style="height: 26%; border-bottom: 1px solid #bdbdbd;"></li>
            <li class="profile" style="margin-top: 10px;">
                <img src="/static/images/R.png" alt="Profile Image">
                <span style="margin-left: 1%;">{{ username }}</span>
            </li>
        </ul>
    </div>
    <div class="container">
    <ul>
        <li><a href="/quiz_index">Quizz</a></li>
        <li><a href="/choices_home">Fin[E]d</a></li>
        <li><a href="#" id="transferLink">Calc</a></li>
        <div id="transferOptions" style="display: none;">
            <h1> Calc</h1>
            <div>
                <a href="/income"><button>Calculate Income Tax</button></a>
                <a href="/gst"><button>Calculate GST</button></a>
            </div>
    </ul>
</div>
    <script>
        document.getElementById('transferLink').addEventListener('click', function(event) {
            event.preventDefault();
            var transferOptions = document.getElementById('transferOptions');
            if (transferOptions.style.display === 'none') {
                transferOptions.style.display = 'block';
            } else {
                transferOptions.style.display = 'none';
            }
        });
    </script>
</body>
</html>